#float_info{width: 300px; height: 350px; padding-top: 20px; background: beige;}
.IMGsTy{text-align: center;}
.namesTy{text-align: center; color: #888888; font-weight: bolder; line-height:40px; font-size: 25px;}
.infosTyR{text-align: center; color: #888888; font-weight: bolder;line-height:25px;font-size: 15px;}
.infosTyL{color: #888888; font-weight: bolder;line-height:25px;font-size: 15px;}
.infoBtn{text-align: center; margin-top: 15px;}
.infoBtn button{width: 100%;}
