.waitApproval{
	width: 80%;
	min-height: 560px;
	height: 560px;
	margin: 40px;
}
table{
	margin-top: 10px;
}
table > thead{
	background-color: #EEF1F5;
}
table > textarea{
	width: 100%;
}
.Approval{
	margin-left: 90px;
}

.Approval div{
	width:50%;
	border: 1px solid #aed0ea;
}
.table-apply tr td:nth-of-type(3){
	padding-left: 90px;
}
